body {
    overflow-x: hidden;
}
.navbar {
    width: 10rem;
    float: right;
    text-decoration: none;
    color: #747474;
}
.navbar > a {
    color: #747474;
}
.navbar :hover{
    color: #00b39b;
    text-decoration: none;  
}
.navbar a:hover {
    color: #00b39b;
    text-decoration: none;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
 .dropdown-content > a {
     color: #747474;
 } 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.logo {
    width: 15rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.rubriques{
    margin-top: -3%;
}
.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
}
.dropdown {
    cursor: pointer;
    position: relative;
}
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10rem;
    margin-left: -1rem;
}
#logo {
    margin-bottom: 3rem;
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
}
h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.grid {
    display: flex;
    text-align: justify;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}
.service-container {
    display: flex;
    align-content: space-around;
    zoom: 1;
    padding: 0 20px;
    justify-content: center;
}
.patient {
    background: #00b39b;
    color: #fff;
    margin-right: 2%;
    border-radius: 2%;
    padding: 1.5%;
    width: 30%;
}
.doctors {
    background: #3d83df;
    color: #fff;
    margin-right: 2%; 
    border-radius: 2%; 
    padding: 1.5%; 
    width: 30%;
}
.clinics {
    background: #1b2734;
    color: #fff;
    border-radius: 2%;
    padding: 1.5%;
    width: 30%;
}
.country-select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    -webkit-appearance: none;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-size: 19px;
}
#brands {
    display: flex;
    margin-top: 3%;
}
.brands-logo > li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
}
#stats {
    display: flex;
    margin-top: 3%;
    background-color: rgb(175, 233, 225);
}
#stats header {
    text-align: center;
}
.stats-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    position: block;
}
.elements {
    margin: 1rem;
    background-color: white;
    border-radius: 3%;
    padding: 2rem;
    text-align: center;
}
#offices {
    text-align: center;
}
.offices-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin-top: 5rem;
    margin-bottom: 6rem;
    position: block;
}
.countries-name {
    color: #747474;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
    border-color: black;
}
#joining-section {
    text-align: center;
    margin: 2rem;

}
#footer {
    text-align: center;
    margin-top: 5rem;
    border-top: 1px solid #eef2f2;
    padding: 1em 0;   
    color: #747474;
    font-size: 12px;
}